# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=your-grafana-password-here
GF_SERVER_ROOT_URL=http://localhost:8080/monitor

# PostgreSQL Configuration
DB_HOST=db
DB_USERNAME=tabaquillo
DB_PASSWORD=your-db-password-here
DB_NAME=bosque
VERSION=

# InfluxDB Configuration
INFLUXDB_USERNAME=my-user
INFLUXDB_PASSWORD=my-password
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=my-bucket
INFLUXDB_TOKEN=your-influxdb-api-token-here

