version: '3.8'

services:
  grafana:
    image: grafana/grafana
    container_name: bda-grafana
    env_file:
      - .env
    environment:
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_ORG=${INFLUXDB_ORG}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}
    ports:
      - "3000:3000"
    volumes:
      - bda-grafana-storage:/var/lib/grafana:z
      - ./grafana/provisioning:/etc/grafana/provisioning:z
    restart: always
    depends_on:
      - influxdb

  proxy:
    image: docker.io/nginx:alpine
    container_name: bda-proxy
    ports:
      - "8080:80"
    volumes:
      - ./proxy.conf:/etc/nginx/conf.d/default.conf:z
    depends_on:
      - grafana
      - app
    restart: always

  app:
    build: .
    container_name: bda-app
    ports:
      - "4000:4000"
    restart: always
    env_file:
      - .env
    depends_on:
      - db
      - influxdb

  db:
    image: postgres:16-alpine
    container_name: bda-db
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - bda-pgdata:/var/lib/postgresql/data
    restart: always

  influxdb:
    image: influxdb:2.7
    container_name: bda-influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_TOKEN}
    volumes:
      - bda-influxdb-storage:/var/lib/influxdb2
    restart: always

volumes:
  bda-grafana-storage: {}
  bda-pgdata: {}
  bda-influxdb-storage: {}
