version: '3.8'

services:
  grafana:
    image: grafana/grafana
    container_name: bda-grafana
    env_file:
      - .env
    volumes:
      - bda-grafana-storage:/var/lib/grafana:z
    restart: always

  proxy:
    image: docker.io/nginx:alpine
    container_name: bda-proxy
    ports:
      - "8080:80"
    volumes:
      - ./proxy.conf:/etc/nginx/conf.d/default.conf:z
    depends_on:
      - grafana
      - app
    restart: always

  app:
    build: .
    container_name: bda-app
    ports:
      - "4000:4000"
    restart: always
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: bda-db
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - bda-pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  bda-grafana-storage: {}
  bda-pgdata: {}
