{{template "base" .}}
{{define "title"}}Germinadora Doble Inferior{{end}}
{{define "body"}}
<h1>Control Germinadora Doble Inferior</h1>
<div class="snippet" id="controls">
  <p>Temperatura Actual: </p><h2>{{printf "%.2f" .ActualTemp}}</h2>
  <p>Temperatura de trabajo: </p><h2>{{printf "%.2f" .SetTemp}}</h2>
  <div class='metadata'>
    <form onsubmit="submitTemp(event)">
      <label for="temp">Nueva temperatura de trabajo: </label>
      <input type="text" id="temp" name="temp">
      <button type="submit" class="form-button" id="heladera-doble-2">Guardar</button>
    </form>
  </div>
</div>
<script>
function submitTemp(event) {
    event.preventDefault();
    var button = document.getElementById('heladera-doble-2');
    sendTemp(button);
}
</script>
{{end}}