{{template "base" .}}
{{define "title"}}Inicio{{end}}
{{define "body"}}
    <div id="main">
    </div>
    <p>Ultimas Estadísticas</p>
    <iframe width="925" height="572" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSCDO3THptLn226ZN0pkBzXWhWbhnSic6QoL3kqVaG9CMeXzEFMPTcn3a-bRURvqDsHBcOtAI7rWn0_/pubchart?oid=834742253&amp;format=interactive"></iframe>
{{end}}