{{template "base" .}}
{{define "title"}}Horno{{end}}
{{define "body"}}
<h1>Control Horno</h1>
<div class="snippet" id="controls">
<p>Temperatura Actual: </p><h2>{{printf "%.2f" .ActualTemp}}</h2>
  <p>Temperatura de trabajo: </p><h2>{{printf "%.2f" .SetTemp}}</h2>
    <div class='metadata'>
      <form><label for="temp">Nueva temperatura de trabajo: </label>
            <input type="text" id="temp" name="temp">
            <input type="button" class="a" id="horno" value="Guardar" onclick="sendTemp(this)">
    </div>
</div>
{{end}}